<div class="side-menu">
    <div class="logo" [routerLink]="['/']">
        <img id="logo-img" src="assets/logo.png" height="60px"/>
        <img id="logo-title" src="assets/title.png" height="60px"/>
    </div>
    <div class="menu">
        <div class="menu-item" [routerLink]="['/register']">
            <div class="menu-item-icon">
                <i class="fa-solid fa-user-plus fa-fw"></i>
            </div>
            <div class="menu-item-caption">
                signup
            </div>
        </div>
        <div class="menu-item" [routerLink]="['/login']">
            <div class="menu-item-icon">
                <i class="fa-solid fa-arrow-right-to-bracket fa-fw"></i>
            </div>
            <div class="menu-item-caption">
                login
            </div>
        </div>
        <div class="menu-item">
            <div class="menu-item-icon">
                <i class="fa-solid fa-gear fa-fw"></i>
            </div>
            <div class="menu-item-caption">
                settings
            </div>
        </div>
    </div>
</div>