<div class="side-menu">
    <div class="logo" (click)="handleLogoClick()">
        <img id="logo-img" src="assets/logo.png" height="60px"/>
        <img id="logo-title" src="assets/title.png" height="60px"/>
    </div>
    <div class="menu">

        @for (item of menuItems; track $index) {
            @if(item.routerLink != ''){
                <div class="menu-item"  [routerLink]="[item.routerLink]">
                    <div class="menu-item-icon">
                        <i [class]="item.menuItemIcon"></i>
                    </div>
                    <div class="menu-item-caption">
                        {{item.menuItem}}
                    </div>
                </div>
            } @else {
                <div class="menu-item" (click)="callFunction(item.functionItem)">
                    <div class="menu-item-icon"  (click)="item.functionItem">
                        <i [class]="item.menuItemIcon"></i>
                    </div>
                    <div class="menu-item-caption"  (click)="item.functionItem">
                        {{item.menuItem}}
                    </div>
                </div>
            }

            
        }

        
        
    </div>
</div>