<app-menu [menuItems]="menuItems" (newItemEvent)="showModal()"></app-menu>

<div class="main-container">
    <div class="buttons-container">
        <div class="user-home-search-field">
            <input type="text" id="searchFieldValue" autocomplete="off" [(ngModel)]="searchValue"/>
            <i class="fa-solid fa-magnifying-glass" id="search-icon" (click)="searchItem()"></i>
        </div>

        <div class="sort-container">
            <div class="select-title">
                <p>sort by</p>
            </div>
            <select #sortTypeField (change)="handleSortByChange(sortTypeField.value, 'asc')">
                <option value="1">creation date</option>
                <option value="2">name</option>
                <option value="3">release year</option>
                <option value="4">rating</option>
            </select>
        </div>

        
        @if(sortDirection == "asc"){
            <i class="top-bar-icon fa-solid fa-arrow-down-wide-short" (click)="handleSortByChange(sortType, 'desc')"></i>
        } @else {
            <i class="top-bar-icon fa-solid fa-arrow-up-wide-short" (click)="handleSortByChange(sortType, 'asc')"></i>
        }

        <i [class]="watchedIconActive ? 'top-bar-icon fa-regular fa-eye highlight-icon' : 'top-bar-icon fa-regular fa-eye'" (click)="showWatchedItems()"></i>
        <i [class]="seriesIconActive ? 'top-bar-icon fa-solid fa-tv highlight-icon' : 'top-bar-icon fa-solid fa-tv'" (click)="showSeriesItems()"></i>
        <i [class]="moviesIconActive ? 'top-bar-icon fa-solid fa-video highlight-icon' : 'top-bar-icon fa-solid fa-video'" (click)="showMovieItems()"></i>
        

    </div>
    
    <div class="grid-container">
    
        <div class="modal" [style.visibility]="hideModal">
            <div class="modal-box">
                <i class="close-icon fa-solid fa-xmark" (click)="closeModal()"></i>
                <div class="form-field-group">
                    <input class="form-field-input" type="text" name="name" id="name" autocomplete="off"
                        [(ngModel)]="inputValue" />
                    <label for="name" class="form-field-label">name</label>
                    <p class="error-msg">{{errors.name != '' ? errors.name : ''}}</p>
                </div>
    
                <div class="form-field-group">
                    <input class="form-field-input" type="text" name="year" id="year" autocomplete="off"
                        [(ngModel)]="yearValue" />
                    <label for="year" class="form-field-label">year</label>\
                </div>
    
                <div class="form-button-group">
                    <input class="btn-caption" type="submit" value="search" (click)="searchMovieItem()">
                </div>
    
                <p class="request-error-msg">{{errors.credentials != '' ? errors.credentials : ''}}</p>
    
                @if (response != null) {
                <div class="movie-item-container">
                    <img width="125px" height="175px" [src]="response.Poster" alt='API Image' />
                    <div class="movie-details">
                        <p>Title: {{response.Title}}</p>
                        <p>Year: {{response.Year}}</p>
                        <input type="button" value="ADD TO LIBRARY" id="add-btn" (click)="addMovieToLibrary(response)" />
                    </div>
                </div>
                }
            </div>
        </div>
    
        
    
        @for (item of items; track $index) {
        <div class="item solid-border">
            <img [src]="item.poster" />
            <div class="item-icons-bar">
                @if (item.watched) {
                    <i class="item-icons-bar-icon fa-regular fa-eye"></i>
                } @else {
                    <i class="item-icons-bar-icon fa-regular fa-eye-slash"></i>
                }
    
                @if (item.type == "series") {
                    <i class="item-icons-bar-icon fa-solid fa-tv"></i>
                } @else {
                    <i class="item-icons-bar-icon fa-solid fa-video"></i>
                }
            </div>

            <div class="item-cover">
                <p>{{item.name}}</p>
                <p>{{item.year}}</p>
                <p>{{item.rating}}</p>
                <div class="item-actions-bar">
                    <i class="fa-solid fa-trash" (click)="deleteItem(item.id)"></i>
                    <i class="fa-solid fa-circle-info" (click)="moreInfo(item.id)"></i>
                    @if (item.watched) {
                        <i class="fa-regular fa-eye" (click)="setAsWatched(item)"></i>
                    } @else {
                        <i class="fa-regular fa-eye-slash" (click)="setAsWatched(item)"></i>
                    }
                </div>
            </div>
        </div>
        }
    </div>
</div>